/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop
*/
/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

li,
a {
  text-decoration: none;
  list-style: none;
  color: #05060F; }
  font
li:hover, font
  a:hover {
    border-bottom: 2px solid #212121; }

.btn {
  border-radius: none;
  padding: 10px 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  cursor: pionter; }
  .btn__nav {
    background-color: transparent;
    color: #A0CF46;
    border: 1px solid #A0CF46; }
    .btn__nav:hover {
      background-color: #A0CF46;
      color: #fff;
      border: 1px solid #A0CF46; }
  .btn__fill {
    background-color: #A0CF46;
    color: #fff;
    border: 1px solid #A0CF46; }
    .btn__fill:hover {
      background-color: transparent;
      color: #A0CF46;
      border: 1px solid #A0CF46; }

header {
  background-image: url("../img/Rectangle 218.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0; }

.header__briefing {
  display: flex;
  flex-direction: column;
  gap: 15px; }
  .header__briefing h1 {
    width: 500px;
    font-weight: 700;
    line-height: 123%; }
  .header__briefing p {
    width: 426px;
    font-weight: 400;
    font-size: 18px;
    line-height: 139.5%; }

nav {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }

.nav {
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-around; }
  .nav__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px; }

.mission {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0; }
  .mission__briefing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif; }
    .mission__briefing h1 {
      text-align: center;
      font-weight: 600;
      font-size: 38px;
      line-height: 123%; }
    .mission__briefing p {
      width: 897px;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px; }

.featured {
  padding: 4.5rem 0;
  background-color: #F5F5F5; }
  .featured__main {
    display: flex;
    flex-direction: column;
    gap: 40px; }
  .featured__briefings h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%; }
  .featured__carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .featured__carousel__switch {
      display: flex;
      justify-content: center;
      gap: 20px; }
  .featured__modal {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: 300px; }
    .featured__modal__image img {
      width: 300px; }
    .featured__modal__briefings {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      text-align: center; }
      .featured__modal__briefings p {
        line-height: 24px; }

.sponsor {
  background-color: #fff;
  padding: 5rem 0; }
  .sponsor__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; }
  .sponsor__briefing h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%;
    padding-bottom: 50px; }

.team {
  padding: 4.5rem 0;
  background-color: #F5F5F5; }
  .team__briefing h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%;
    padding-bottom: 50px; }
  .team__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around; }
  .team__modal {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: 270px; }
    .team__modal__image img {
      width: 270px; }
    .team__modal__briefings {
      display: flex;
      flex-direction: column;
      padding: 20px;
      text-align: center; }

.gallery {
  background-color: #fff;
  padding: 5rem 0; }
  .gallery__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .gallery__img img {
    width: 320px; }
  .gallery__briefing h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%;
    padding-bottom: 50px; }

.donation {
  background: #212121;
  padding: 4.5rem 0; }
  .donation__briefing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; }
    .donation__briefing h1 {
      text-align: center;
      font-weight: 600;
      font-size: 38px;
      line-height: 123%;
      width: 500px;
      color: #fff; }
