/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop
*/
/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  padding: 0 100px; }
  @media (max-width: 75em) {
    .container {
      padding: 0 50px; } }
  @media (max-width: 56.25em) {
    .container {
      padding: 0 70px; } }
  @media (max-width: 37.5em) {
    .container {
      padding: 0 50px; } }

html {
  scroll-behavior: smooth; }

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

li,
a {
  text-decoration: none;
  list-style: none;
  color: #05060F; }
  font
li:hover, font
  a:hover {
    border-bottom: 2px solid #212121; }

footer {
  background-color: #A0CF46; }

.btn__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; }
  @media (max-width: 37.5em) {
    .btn__container {
      justify-content: center;
      flex-direction: column; } }

.btn {
  border-radius: none;
  padding: 10px 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  cursor: pionter; }
  @media (max-width: 75em) {
    .btn {
      font-size: 13px;
      padding: 7px 18px; } }
  .btn__nav {
    background-color: transparent;
    color: #A0CF46;
    border: 1px solid #A0CF46; }
    .btn__nav:hover {
      background-color: #A0CF46;
      color: #fff;
      border: 1px solid #A0CF46; }
  .btn__fill {
    background-color: #A0CF46;
    color: #fff;
    border: 1px solid #A0CF46; }

.about {
  padding: 60px 0; }
  @media (max-width: 56.25em) {
    .about {
      display: flex;
      align-items: center;
      flex-direction: column; } }
  .about__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 80px; }
    @media (max-width: 56.25em) {
      .about__row {
        flex-direction: column-reverse;
        text-align: center;
        background: #f4f4f4;
        border-radius: 10px;
        width: 100%;
        padding: 20px; } }
    .about__row-text {
      width: 45%;
      color: #212121;
      margin-bottom: 31px; }
      @media (max-width: 56.25em) {
        .about__row-text {
          width: auto; } }
      .about__row-text h3 {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -0.84px; }
        @media (max-width: 37.5em) {
          .about__row-text h3 {
            font-size: 30px; } }
      .about__row-text p {
        font-size: 20px;
        line-height: 40px;
        font-weight: 400; }
    @media (max-width: 75em) {
      .about__row__image img {
        width: 100%; } }
    @media (max-width: 56.25em) {
      .about__row__image img {
        width: 100%; } }

.rev {
  text-align: left; }

.contact {
  padding: 60px; }
  .contact P {
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 40px;
    padding: 0 200px; }
    @media (max-width: 75em) {
      .contact P {
        padding: 0; } }
    @media (max-width: 56.25em) {
      .contact P {
        font-size: 24px; } }

.text__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  font-size: 20px; }
  @media (max-width: 56.25em) {
    .text__row {
      text-align: center;
      flex-direction: column; } }
  .text__row h3 {
    margin: 20px 0 10px 0;
    font-weight: 600; }
  .text__row span {
    line-height: 1.2; }

@media (max-width: 56.25em) {
  .border {
    display: none; } }

.footer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 80px 0; }
  @media (max-width: 75em) {
    .footer {
      gap: 30px; } }
  @media (max-width: 56.25em) {
    .footer {
      flex-direction: column;
      text-align: center; } }
  .footer__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 400; }
    .footer__row h3 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 10px; }
      @media (max-width: 75em) {
        .footer__row h3 {
          font-size: 18px;
          font-weight: 600; } }
    .footer__row p {
      line-height: 2.3;
      font-size: 16px; }
      @media (max-width: 75em) {
        .footer__row p {
          font-size: 14px; } }
    .footer__row-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 16px; }
      @media (max-width: 75em) {
        .footer__row-list {
          font-size: 14px; } }
    .footer__row-group h4 {
      font-size: 18px;
      font-weight: 600; }
    @media (max-width: 75em) {
      .footer__row__logo {
        width: 140px; } }

.copyright {
  background-color: #212121; }
  .copyright__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 40px 0; }
    @media (max-width: 56.25em) {
      .copyright__flex {
        flex-direction: column;
        text-align: center; } }
    .copyright__flex p,
    .copyright__flex a {
      color: #A0CF46; }

header {
  z-index: 1;
  background: linear-gradient(90.14deg, #FFFFFF 41.65%, rgba(237, 127, 52, 0) 58.16%), url("../img/Rectangle 218.png");
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; }

.header__briefing {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5rem 0; }
  @media (max-width: 37.5em) {
    .header__briefing {
      text-align: center;
      justify-content: center; } }
  .header__briefing h1 {
    width: 500px;
    font-weight: 700;
    line-height: 123%; }
    @media (max-width: 37.5em) {
      .header__briefing h1 {
        text-align: center;
        justify-content: center;
        width: auto; } }
  .header__briefing p {
    width: 426px;
    font-weight: 400;
    font-size: 18px;
    line-height: 139.5%; }
    @media (max-width: 37.5em) {
      .header__briefing p {
        width: auto;
        font-size: 14px; } }

.header__container {
  display: flex;
  flex-direction: row;
  height: 256px;
  background-color: #212121; }
  @media (max-width: 56.25em) {
    .header__container {
      text-align: center;
      justify-content: center; } }
  .header__container-green {
    background-color: #A0CF46;
    height: 100%;
    width: 45%;
    clip-path: polygon(0% 0, 100% -40%, 50% 100%, 0 100%); }
    @media (max-width: 56.25em) {
      .header__container-green {
        display: none; } }
  .header__container-primary {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    text-align: center;
    gap: 7px;
    letter-spacing: -0.84px;
    color: #fff; }
    @media (max-width: 56.25em) {
      .header__container-primary {
        text-align: center;
        justify-content: center; } }
    .header__container-primary h1 {
      font-weight: 600;
      font-size: 48px; }
    .header__container-primary p {
      font-weight: 400;
      font-size: 24px; }

.navigation {
  background-color: #212121; }

nav {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }

.nav {
  padding: 10px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 75em) {
    .nav {
      padding: 8px 50px; } }
  @media (max-width: 56.25em) {
    .nav {
      padding: 8px 70px; } }
  @media (max-width: 37.5em) {
    .nav {
      padding: 8px 50px; } }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px; }
    @media (max-width: 75em) {
      .nav__list {
        gap: 15px;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: center; } }
    @media (max-width: 56.25em) {
      .nav__list {
        display: none;
        position: absolute;
        width: 100%;
        height: 300px;
        top: 100px;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 2; } }
  .nav__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px; }
  .nav__menu {
    display: none; }
    @media (max-width: 56.25em) {
      .nav__menu {
        display: block; } }
  .nav__logo {
    cursor: pointer; }

.nav__connect {
  padding: 10px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 75em) {
    .nav__connect {
      padding: 8px 50px; } }
  @media (max-width: 56.25em) {
    .nav__connect {
      padding: 8px 70px;
      flex-direction: column; } }
  @media (max-width: 37.5em) {
    .nav__connect {
      padding: 8px 50px; } }

.nav__number {
  color: #A0CF46;
  font-weight: 400;
  font-size: 16px; }

.mission {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0; }
  .mission__briefing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif; }
    .mission__briefing h1 {
      text-align: center;
      font-weight: 600;
      font-size: 38px;
      line-height: 123%; }
    .mission__briefing p {
      font-weight: 400;
      font-size: 20px;
      line-height: 40px; }
  .mission__image img {
    width: 100%; }

.featured {
  padding: 4.5rem 0;
  background-color: #F5F5F5;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .featured__main {
    display: flex;
    flex-direction: column;
    gap: 40px; }
  .featured__briefings h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%; }
  .featured__briefings p {
    font-size: 14px; }
  .featured__carousel {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 100%;
    overflow-x: auto; }
    .featured__carousel::-webkit-scrollbar {
      visibility: hidden; }
    .featured__carousel__switch {
      display: flex;
      justify-content: center;
      gap: 20px; }
  .featured__modal {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 300px;
    margin: 10px;
    transition: 0.5s; }
    .featured__modal__image img {
      width: 100%; }
    .featured__modal__briefings {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      text-align: center; }
      .featured__modal__briefings p {
        font-weight: 400;
        font-size: 20px; }

.sponsor {
  background-color: #fff;
  padding: 5rem 0; }
  .sponsor__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; }
  .sponsor__briefing h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%;
    padding-bottom: 50px; }

.team {
  padding: 4.5rem 0;
  background-color: #F5F5F5; }
  .team__briefing h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%;
    padding-bottom: 50px; }
  .team__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; }
  .team__modal {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: 293.84px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
    .team__modal__image img {
      width: 100%; }
    .team__modal__briefings {
      display: flex;
      flex-direction: column;
      padding: 20px;
      text-align: center; }

.gallery {
  background-color: #fff;
  padding: 5rem 0; }
  .gallery__main {
    display: flex;
    flex-direction: column;
    gap: 15px; }
  .gallery__img {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 15px; }
    @media (max-width: 56.25em) {
      .gallery__img {
        flex-direction: column;
        width: 100%; } }
  .gallery__briefing h1 {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 123%;
    padding-bottom: 50px; }

.donation {
  background: #212121;
  padding: 4.5rem 0; }
  .donation__briefing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; }
    .donation__briefing h1 {
      text-align: center;
      font-weight: 600;
      font-size: 38px;
      line-height: 123%;
      width: 500px;
      color: #fff; }
      @media (max-width: 37.5em) {
        .donation__briefing h1 {
          width: auto; } }
  .donation__btn {
    display: flex;
    flex-direction: row;
    gap: 10px; }
    @media (max-width: 37.5em) {
      .donation__btn {
        justify-content: center;
        flex-direction: column; } }

.show-links {
  display: flex;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .show-links {
      flex-direction: column; } }
