.about {
    padding: 60px 0;
    @include respond(tab-port) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        margin-bottom: 80px;

        @include respond(tab-port) {
            flex-direction: column-reverse;
            text-align: center;
            background: #f4f4f4;
            border-radius: 10px;
            width: 100%;
            padding: 20px;
        }

        &-text{
            width: 45%;
            color: $default-color;
            margin-bottom: 31px;

            @include respond(tab-port) {
                width: auto;
            }

            h3{
                font-size: 36px;
                font-weight: $font-weight-m;
                letter-spacing: -0.84px; 
                
                @include respond(phone) {
                    font-size: 30px;
                }
            }
            p{
                font-size: 20px;
                line-height: 40px;
                font-weight: $font-weight-sml;
            }
        }

        &__image {
            
            img {
                @include respond(tab-land) {
                    width: 100%;
                }

                @include respond(tab-port) {
                    width: 100%;
                }
            }
        }
    }
}

.rev {
    text-align: left;
}
