header {
    background-image: url('../img/Rectangle 218.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 5rem 0;
}

.header {

    &__briefing {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            width: 500px;
            font-weight: $font-weight-md;
            line-height: 123%;
        }

        p {
            width: 426px;
            font-weight: $font-weight-sml;
            font-size: 18px;
            line-height: 139.5%;
        }
    }

    &__container{
        display: flex;
        flex-direction: row;
        height: 256px;
        background-color: $bg-black;

        &-green{
            background-color: $btn-color;
            height: 100%;
            width: 45%;
            clip-path: polygon(0% 0, 100% -40%, 50% 100%, 0 100%);
        }
    
        &-primary{
            display: flex;
            flex-direction: column;
            margin: auto 0;
            gap: 7px;
            letter-spacing: -0.84px;
            color: $color-white;

            h1{
                font-weight: $font-weight-m;
                font-size: 48px;
            }

            p{
                font-weight: $font-weight-sml;
                font-size: 24px;
            }
        }
    }

}