.navigation{
    background-color: $bg-black;
}
nav {
    background-color: $color-white;
    box-shadow: $shadow;
}

.nav {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__connect {
        padding: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include respond(phone) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__number {
        color: $btn-color;
        font-weight: $font-weight-sml;
        font-size: $default-font-size;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        justify-content: space-around;

        @include respond(tab-land) {
            display: none;
        }
    }

    &__main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    &__menu {
        display: none;

        @include respond(tab-land) {
            display: block;
        }
    }

    &__logo {
        cursor: pointer;
    }
}