.navigation{
    background-color: $bg-black;
}
nav {
    background-color: $color-white;
    box-shadow: $shadow;
}

.nav {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__number {
        color: $btn-color;
        font-weight: $font-weight-sml;
        font-size: $default-font-size;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        justify-content: space-around;
    }

    &__main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
}