.contact{
    padding: 60px;

    P{
        font-size: 24px;
        text-align: center;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 40px;
    }
}

.text__row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 20px;

    h3{
        margin: 20px 0 10px 0;
        font-weight: $font-weight-m;
    }

    span{
        line-height: 1.2;
    }
}