// Colors
$default-color: #000; 

$color-white: #fff;

$nav-hover: #05060F;


// Fonts And Weight
$default-font-family: 'Poppins', sans-serif;

$default-mid-size: 20px; 

$default-font-size: 16px;

$default-mid-font: 16px;

$default-sm-font: 14px;

$h1-paragraph: 38px; 

$h2-paragraph: 40px; 

$h3-paragraph: 38px; 

$h4-paragraph: 32px; 

$font-style-normal: normal;

$font-weight-sm: 100;

$font-weight-sml: 400;

$font-weight-m: 600;

$font-weight-md: 700;

$font-weight-l: 800; 

$font-weight-lg: 900;

$bold: bold; 

// Box Shadow
$shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

// Buttons
$btn-color: #A0CF46;

$btn-font-size: 16px;

$btn-font-fam: 'Poppins', sans-serif;