*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
              
.container {
    padding: 0 100px;
    
    @include respond(tab-land){
        padding: 0 50px;
    }
    @include respond(tab-port){
        padding: 0 70px;
    }
    @include respond(phone){
        padding: 0 50px;
    }
}

body {
    background-color: $color-white;
    font-family: $default-font-family;
    font-size: $default-font-size
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: $nav-hover;
    font

    &:hover {
        border-bottom: 2px solid $default-color;
    }
}
footer{
    background-color: $btn-color;
}