// Misssion Section
.mission {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;

    &__briefing {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
        font-family: $default-font-family;

        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
        }

        p {
            width: 897px;
            font-weight: $font-weight-sml;
            font-size: 20px;
            line-height: 40px;
        }
    }
}

// Featured Projects
.featured {
    padding: 4.5rem 0;
    background-color: #F5F5F5;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__briefings {
        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
        }
    }

    &__carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__switch {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }

    &__modal {
        display: flex;
        background-color: $color-white;
        flex-direction: column;
        width: 300px;

        &__image {
            img {
                width: 300px;
            }
        }

        &__briefings {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            text-align: center;

            p {
                line-height: 24px;
            }
        }
    }
}