.none {
    display: none;
}

// Misssion Section
.mission {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;

    &__briefing {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
        font-family: $default-font-family;

        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
        }

        p {
            font-weight: $font-weight-sml;
            font-size: 20px;
            line-height: 40px;
        }
    }

    &__image {
        img {
            width: 100%;
        }
    }
}

// Featured Projects
.featured {
    padding: 4.5rem 0;
    background-color: #F5F5F5;
    width: 100%;
    position: relative;
    overflow: hidden;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__briefings {
        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
        }

        
        p{
            font-size: 14px;
        }
    }

    &__carousel {
        display: flex;
        flex-direction: row;
        margin: 10px auto;
        width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar{
            visibility: hidden;
        }

        &__switch {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }

    &__modal {
        display: flex;
        background-color: $color-white;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        min-width: 300px;
        margin: 10px;
        transition: 0.5s;

        &__image {
            img {
                width: 100%;
            }
        }

        &__briefings {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            text-align: center;

            p {
                font-weight: $font-weight-sml;
                font-size: $default-mid-size;
            }
        }
    }
}

// Sponsor
.sponsor {
    background-color: $color-white;
    padding: 5rem 0;

    &__main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    &__briefing {
        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
            padding-bottom: 50px;
        }

    }
}

// Teams
.team {
    padding: 4.5rem 0;
    background-color: #F5F5F5;

    &__briefing {
        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
            padding-bottom: 50px;
        }
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__modal {
        display: flex;
        background-color: $color-white;
        flex-direction: column;
        width: 293.84px;
        box-shadow: $shadow;

        &__image {
            img {
                width: 100%;
            }
        }

        &__briefings {
            display: flex;
            flex-direction: column;
            padding: 20px;
            text-align: center;

        }
    }
}

// Gallery
.gallery {
    background-color: $color-white;
    padding: 5rem 0;
 
    &__main {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        gap: 15px;

        @include respond(tab-land) {
            flex-direction: column;
        }
    }

    &__briefing {
        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
            padding-bottom: 50px;
        }
    }
}

// Donations
.donation {
    background: $default-color;
    padding: 4.5rem 0;

    &__briefing {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        h1 {
            text-align: center;
            font-weight: $font-weight-m;
            font-size: $h1-paragraph;
            line-height: 123%;
            width: 500px;
            color: $color-white;

            @include respond(phone) {
                width: auto;
            }
        }
    }

    &__btn {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
.show-links {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
